*{
    margin: 0px;
    padding: 0px;
    text-decoration: none;
}
   
   
    

body{
background-color:#F9C743;

}

.container{
    display: flex;
    justify-content: space-around;
    background-color:#D1BF91;
    height: 40px;
    margin-top: 20px;
}
    
    
.imgBanner{
height: 20px;
width: 100%;
height: 40%;
}

.nav-div{
    text-align: center;
    font-size: 2em;
}
    

.nav-div:visited{
color: blue;
}

.nav-div:active{
    color: red;
}
    


h1{
    font-size: 3em;
    text-align: center;
}

h2{
    font-size: 2.2em;
    margin-top: 20px;
}

.content{
    margin-top: 15px;
    font-size: 1.3em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

    
.div-img{
    margin: 10%;
    justify-content: center;
    width: 70%;
    height: 75%;
}

.div-y{
    height: 80%;
    width: 80%;
    font-size: 1.2em;
}

.img-1{
    width: 100%;
    height: 100%;
}

.imgBanner{
    height: 20px;
    width: 100%;
    height: 40%;
    }
    
    
.container3{
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin-left: 5%;
        margin-top: 5%;
        width: 90%;
        height: 100%;
        font-size: 1.3em;
        text-align: center;
    }
       
    
.email{
        margin-left: 200px;
        height: 25px;
        margin-top: 10px;
    }
    
.name{
        margin-left: 181px;
        height: 25px;
        margin-top: 10px;
    }
    
.div-comment{
        display: flex; 
        justify-content: center;
    }
    
.comment{
        width: 19%;
        margin-left: 10%;
        margin-top: 10px;
    }
       
.label-comment{
        text-align: start;
        margin-left: 0px;;
    }
    
.submit{
        width: 6em;
        margin-left: 28.5%;
    }